.container-responsive{
  width: 80%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-flow:row wrap;
  
}
#foto{
  width: 10%;
}

.img-fluid{
  width: 65%;
}
.bodys{
  background-image: url("img/pokemones.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  font-family: "Flexo-Regular",arial,sans-serif;
  font-size: 16px;
  color: #fff;
}
/*Saludo*/
#insert-name{
  color: rgb(12, 12, 11);
  font-size: 250%;
  line-height: 125%;
  font-family: "Flexo-Regular",arial,sans-serif;
  margin:auto;
  display: block;
  text-align: center;
  width: 65%;
}

/*Prepara batalla*/
.paragraph{
  font-family:Sans-serif ;
  color: rgb(12, 12, 11);
}


/*Me deja titulo al centro*/
.title{
  color: #333333;
  cursor: default;
  font-size: 187.5%;
  line-height: 125%;
  text-transform: none;
  font-family: "Flexo-Regular",arial,sans-serif;
  margin:auto;
}

/*Boton ingresar*/
.btn{
  width: 20%;
  height: 20%;
  background-color: #a4a4a4;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  float: left;
}

/*cotenido menu*/
label {
  font-family: "Flexo-Regular",arial,sans-serif;
  float: left;
  font-size: 167.5%;
  text-transform: none;
  color: #fff;
  display: flex;
  text-align: center;
}

h5{
  font-size: 20px;
  margin-bottom: 5px;
  margin: 0.5em 0;
  color: #fffdfd;
}

/*barra de busqueda*/
.search-div{
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  display: inline-block;
}

/*Menu*/
.containment-pokes{
  /*clear: both;*/
  height: 300px;
  background-color: #919191;
  border-color: #212121;
  border-style: solid;
  border-radius: 10px;
  /*overflow: hidden;*/
  width: 401px;
  display: flex;
  font-family: Sans-serif;
  display: inline-block;
  justify-content:center;
  margin-left: 29%;
  text-align: center;
  padding: 40px;
}

/*Boton lupa de busqueda*/
.button-search {
  background-image: url(../src/img/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ee6b2f;
  clear: none;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 5px;
  margin: 1.5%;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
}

/*spans*/
.span-filter{
  background-color: #ee6b2f;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  height: 20%;
  margin :auto; 
}

.container-span{
  justify-content:center;
  display: flex;
  position: relative;
	margin-left:50px;
	margin-top:-150px;
  padding:30px;
}

/*Color letras de input de busqueda*/
#id-poke-search{
  color: black;
}



#box-filter-order {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  display: inline-block;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin:auto;
  /* Flex */
  display: flex;
  flex-flow:row wrap;
}

header{
  width: 100%;
  padding: 20px;
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;
}
header .container p{
  color: #333333;
  font-family: "Flexo-Regular",arial,sans-serif;
  line-height: 57.5px;
  margin:auto;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;  
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
}
.user input{
  color: #333333;
  margin: 10px;
  
}
.section-user{
  width: 100%;
  margin:auto
}

#flip-container{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  padding: 50px;
  position: relative;
  margin: 10px auto;
  width: 500px;
  background-color: white;

}

.card {
  width: 270px;
  height: 270px;
  background: -webkit-linear-gradient(80deg, 		Aquamarine 30%,	#20B2AA 70%);
  box-shadow: 0 20px 50px rgba(0,0,0,.1);
  border-radius: 10px;
  text-align: center;
  align-content: flex-start;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  max-width:1100px;
	margin: 1em;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}


.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  color: white;
  text-align: center;
  font-size: 4em;
  padding: 15px;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.front{
  transform: rotateY(0deg);
  z-index: 2;
  color: #FFF;
  font: 1em/1.8em Arial;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back{
  transform: rotateY(180deg) perspective(600px); 
  background: -webkit-linear-gradient(80deg, 		Aquamarine 30%,	#20B2AA 70%);
  -webkit-transform: perspective(600px) rotateY(180deg);
	padding: 20px;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align:center;
	-webkit-text-align:center;
	color: #fff;
	font-family: "Sans-serif";
	font-size: 120%;
}

.card:hover, .card.flip{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card .box {
  text-align: center;
  padding: 1.25em;
  width: 100%;
  /*-webkit-perspective: 800;*/
}
.card .box .img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.card .box .img img {
  width: 100%;
  height: 100%;
}
.card .box h2 {
  font-size: 20px;
  color: #262626;
  margin: 1.25em auto;
}
.card .box h2 span {
  font-size: 14px;
  background: #e91e63;
  color: #fff;
  display: inline-block;
  padding: 0.25em 0.6em;
  border-radius: 15px;
}
.card .box p {
  color: #262626;
}
.card .box span {
  display: inline-flex;
}

.order{
  color : #333333;
  border-radius: 10%;

}

#Bug{
  background-color: #A8B820;
}
#Dragon{
  background-color: #7860E0;
}
#Electric{
  background-color: #F8D030;
}
#Fighting{
  background-color: #A05038;
}
#Fire{
  background-color: #F05030;
}
#Flying{
  background-color:	#98A8F0;
}
#Ghost{
  background-color: #6060B0;
}
#Grass{
  background-color: #78C850;
}
#Ground{
  background-color: rgb(158, 103, 66);
}
#Ice{
  background-color: #58C8E0;
}
#Normal{
  background-color:	#A8A090;
}
#Poison{
  background-color: #B058A0;
}
#Psychic{
  background-color: #F870A0	;
}
#Rock{
  background-color: #B8A058;
}
#Water{
  background-color: #3899F8;
}
#All{
  background: -webkit-linear-gradient(80deg, 	#00CED1 30%, #20B2AA 70%);;
}
